<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-container">
            <h4 class="card-title">{{ 'All Products' | translate }}</h4>
          </div>
          <div class="card-action">
            <div class="search-container">
              <input
                class="search expandright"
                id="searchright"
                #searchInput
                type="search"
                name="q"
                placeholder="Search by name"
              />
              <label class="button searchbutton" for="searchright">
                <mat-icon>search</mat-icon>
              </label>
            </div>
          </div>
          <div>
            <app-add-button
              isDisabled="no"
              name="{{ '+' | translate }}"
              (isClicked)="addNewProduct()"
            >
            </app-add-button>
          </div>
        </div>
        <div class="card-body">
          <div
            class="tabel__container"
            [hidden]="(dataSource.loading$ | async) || dataSource.empty"
          >
            <mat-table [dataSource]="dataSource" role="grid">
              <ng-container matColumnDef="Image">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'Image' }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span>
                    <img [src]="element.image ? element.image : ''" />
                  </span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'name' | translate }}
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  [matTooltip]="element.name"
                  matTooltipPosition="above"
                >
                  <span>{{ element.options[0].name }}</span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'category' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span>
                    {{ element?.category?.name }}
                  </span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'price' | translate }}
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  [matTooltip]="element.pricePerUnit"
                  matTooltipPosition="above"
                >
                  <span>{{ element?.options[0]?.pricePerUnit }}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'Created at' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span>{{ element.created_at | date }}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'actions' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="deleteProduct(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="updateProduct(element)">
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns; let i = index"
              ></mat-row>
            </mat-table>

            <mat-paginator
              showFirstLastButtons
              [length]="totalPromotions"
              [pageSize]="10"
            ></mat-paginator>
          </div>
          <div class="no__record">
            <ng-container *ngIf="dataSource.loading$ | async">
              <app-spinner></app-spinner>
              <h5>{{ 'load' | translate }}</h5>
            </ng-container>
            <div *ngIf="!(dataSource.loading$ | async) && dataSource.empty">
              <h5>
                {{ 'Sorry, No Product found' | translate }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
