<div class="logo" style="">
  <a [routerLink]="['/']" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="../../../assets/img/user.jpg" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/category']">
          <i class="fas fa-building"></i>

          <p>{{ 'categories' | translate }}</p>
        </a>
      </li>
    </ng-container>
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/areas']">
          <i class="fas fa-building"></i>

          <p>{{ 'areas' | translate }}</p>
        </a>
      </li>
    </ng-container>
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/products']">
          <i class="fas fa-building"></i>
          <p>{{ 'Products' }}</p>
        </a>
      </li>
    </ng-container>
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/orders']">
          <i class="fas fa-building"></i>

          <p>{{ 'orders' }}</p>
        </a>
      </li>
    </ng-container>
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/users']">
          <i class="fas fa-building"></i>

          <p>{{ 'users' }}</p>
        </a>
      </li>
    </ng-container>
    <ng-container>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/ushers']">
          <i class="fas fa-building"></i>
          <p>{{ 'ushers' }}</p>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
